In [8]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_json('covid_data.json')

df.head()

,date,state,fips,positive,probableCases,negative,hospitalizedCumulative,recovered,death,positiveCasesViral,deathConfirmed,State
0,20210307,AK,2,56886.0,NaN,NaN,1293.0,NaN,305.0,NaN,NaN,Alaska
1,20210307,AL,1,499819.0,107742.0,1931711.0,45976.0,295690.0,10148.0,392077.0,7963.0,Alabama
2,20210307,AR,5,324818.0,69092.0,2480716.0,14926.0,315517.0,5319.0,255726.0,4308.0,Arkansas
3,20210307,AS,60,0.0,NaN,2140.0,NaN,NaN,0.0,0.0,NaN,American Samoa
4,20210307,AZ,4,826454.0,56519.0,3073010.0,57907.0,NaN,16328.0,769935.0,14403.0,Arizona

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20780 entries, 0 to 20779
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   date                    20780 non-null  int64
 1   state                   20780 non-null  object
 2   fips                    20780 non-null  int64
 3   positive                20592 non-null  float64
 4   probableCases           9271 non-null   float64
 5   negative                13290 non-null  float64
 6   hospitalizedCumulative  12382 non-null  float64
 7   recovered               12003 non-null  float64
 8   death                   19930 non-null  float64
 9   positiveCasesViral      14246 non-null  float64
 10  deathConfirmed          9422 non-null   float64
 11  State                   20780 non-null  object
dtypes: float64(8), int64(2), object(2)
memory usage: 2.1+ MB

In [22]:
df.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)

,date,state,fips,positive,probableCases,negative,hospitalizedCumulative,recovered,death,positiveCasesViral,deathConfirmed,State
1,2021-03-07,AL,1,499819.0,107742.0,1931711.0,45976.0,295690.0,10148.0,392077.0,7963.0,Alabama
2,2021-03-07,AR,5,324818.0,69092.0,2480716.0,14926.0,315517.0,5319.0,255726.0,4308.0,Arkansas
15,2021-03-07,ID,16,172931.0,33057.0,505964.0,7184.0,96017.0,1879.0,139874.0,1652.0,Idaho
21,2021-03-07,MA,25,591356.0,32273.0,4404792.0,19713.0,508745.0,16417.0,559083.0,16085.0,Massachusetts
25,2021-03-07,MN,27,490011.0,24464.0,3058514.0,25978.0,476055.0,6550.0,465547.0,6276.0,Minnesota
...,...,...,...,...,...,...,...,...,...,...,...,...
17021,2020-05-08,WI,55,11030.0,1440.0,97265.0,1767.0,4694.0,384.0,9590.0,384.0,Wisconsin
17077,2020-05-07,WI,55,10621.0,1406.0,93035.0,1732.0,4520.0,374.0,9215.0,374.0,Wisconsin
17133,2020-05-06,WI,55,10262.0,1361.0,87826.0,1694.0,4348.0,362.0,8901.0,362.0,Wisconsin
17189,2020-05-05,WI,55,9896.0,1330.0,83967.0,1663.0,4131.0,353.0,8566.0,353.0,Wisconsin
17245,2020-05-04,WI,55,9538.0,1302.0,80467.0,1621.0,3973.0,340.0,8236.0,340.0,Wisconsin

In [35]:
df["positive"]= df["positive"].astype("Int64")
df["probableCases"]= df["probableCases"].astype("Int64")
df["negative"]= df["negative"].astype("Int64")
df["hospitalizedCumulative"]= df["hospitalizedCumulative"].astype("Int64")
df["recovered"]= df["recovered"].astype("Int64")
df["death"]= df["death"].astype("Int64")
df["positiveCasesViral"]= df["positiveCasesViral"].astype("Int64")
df["deathConfirmed"]= df["deathConfirmed"].astype("Int64")
# df['budget'] = df['budget'].astype("Int64") 
# df[['positive']]= df[['positive']].apply(pd.to_int)

In [36]:
df['date'] = pd.to_datetime(df['date'], format='%Y%m%d')

df.head()

,date,state,fips,positive,probableCases,negative,hospitalizedCumulative,recovered,death,positiveCasesViral,deathConfirmed,State,recovered\t
0,2021-03-07,AK,2,56886,<NA>,<NA>,1293,<NA>,305,<NA>,<NA>,Alaska,<NA>
1,2021-03-07,AL,1,499819,107742,1931711,45976,295690,10148,392077,7963,Alabama,295690
2,2021-03-07,AR,5,324818,69092,2480716,14926,315517,5319,255726,4308,Arkansas,315517
3,2021-03-07,AS,60,0,<NA>,2140,<NA>,<NA>,0,0,<NA>,American Samoa,<NA>
4,2021-03-07,AZ,4,826454,56519,3073010,57907,<NA>,16328,769935,14403,Arizona,<NA>

In [37]:
df['YearMonth'] = df['date'].dt.to_period('D')

df.head()

,date,state,fips,positive,probableCases,negative,hospitalizedCumulative,recovered,death,positiveCasesViral,deathConfirmed,State,recovered\t,YearMonth
0,2021-03-07,AK,2,56886,<NA>,<NA>,1293,<NA>,305,<NA>,<NA>,Alaska,<NA>,2021-03-07
1,2021-03-07,AL,1,499819,107742,1931711,45976,295690,10148,392077,7963,Alabama,295690,2021-03-07
2,2021-03-07,AR,5,324818,69092,2480716,14926,315517,5319,255726,4308,Arkansas,315517,2021-03-07
3,2021-03-07,AS,60,0,<NA>,2140,<NA>,<NA>,0,0,<NA>,American Samoa,<NA>,2021-03-07
4,2021-03-07,AZ,4,826454,56519,3073010,57907,<NA>,16328,769935,14403,Arizona,<NA>,2021-03-07

In [38]:
df_gb1 = df.groupby([ 'YearMonth','state']).sum()

df_gb1.head(-10)

                  fips  positive  probableCases  negative  \
YearMonth  state
2020-01-13 WA       53         0              0         0
2020-01-14 WA       53         0              0         0
2020-01-15 WA       53         0              0         0
2020-01-16 WA       53         0              0         0
2020-01-17 WA       53         0              0         0
...                ...       ...            ...       ...
2021-03-07 PA       42    948643         134103   3942124
           PR       72    101632           8012    305972
           RI       44    128781              0    677570
           SC       45    525865          75888   4657179
           SD       46    113589          12899    314540

                  hospitalizedCumulative  recovered  death  \
YearMonth  state
2020-01-13 WA                          0          0      0
2020-01-14 WA                          0          0      0
2020-01-15 WA                          0          0      0
2020-01-16 WA                          0          0      0
2020-01-17 WA                          0          0      0
...                                  ...        ...    ...
2021-03-07 PA                          0     861756  24349
           PR                          0      91987   2062
           RI                       9020          0   2547
           SC                      20725     218863   8754
           SD                       6705     109531   1900

                  positiveCasesViral  deathConfirmed  recovered\t
YearMonth  state
2020-01-13 WA                      0               0            0
2020-01-14 WA                      0               0            0
2020-01-15 WA                      0               0            0
2020-01-16 WA                      0               0            0
2020-01-17 WA                      0               0            0
...                              ...             ...          ...
2021-03-07 PA                 814540               0       861756
           PR                  93620            1752        91987
           RI                      0               0            0
           SC                 449977            7744       218863
           SD                 100690               0       109531

[20770 rows x 10 columns]

In [39]:
df_gb1.reset_index().to_json("./Data/test1.json", orient='records')

[Convert the MultiIndex back into Multiple Columns](https://datatofish.com/index-to-column-pandas-dataframe/)

In [8]:
df_gb.reset_index()

,state,YearMonth,fips,positive,probableCases,negative,hospitalizedCumulative,recovered,death,positiveCasesViral,deathConfirmed
0,AK,2020-03,52,789.0,0.0,0.0,72.0,0.0,13.0,0.0,0.0
1,AK,2020-04,60,8290.0,0.0,0.0,946.0,3435.0,230.0,0.0,0.0
2,AK,2020-05,62,12268.0,0.0,0.0,1378.0,10238.0,305.0,0.0,287.0
3,AK,2020-06,60,20522.0,0.0,0.0,1784.0,13167.0,351.0,0.0,351.0
4,AK,2020-07,62,55751.0,0.0,0.0,3262.0,21184.0,558.0,0.0,558.0
...,...,...,...,...,...,...,...,...,...,...,...
735,WY,2020-11,1680,698301.0,98066.0,3870031.0,17962.0,430218.0,4563.0,600235.0,0.0
736,WY,2020-12,1736,1239260.0,167785.0,4692646.0,29914.0,1120354.0,10232.0,1071475.0,0.0
737,WY,2021-01,1736,1509286.0,219793.0,5117041.0,37657.0,1441192.0,16289.0,1289493.0,0.0
738,WY,2021-02,1568,1491294.0,222449.0,4937624.0,37470.0,1450373.0,18153.0,1268845.0,0.0
739,WY,2021-03,392,382591.0,58467.0,1273029.0,9719.0,374093.0,4763.0,324124.0,0.0

In [10]:
df_gb.reset_index().to_json("./Data/test.json", orient='records')