In [1]:
import pandas as pd
import json
import requests 
import datetime as dt
import numpy as np
import scipy.stats as st
from scipy import stats

In [2]:
covid_data = pd.read_json("./Data/covid_data.json")
covid_data

,date,state,fips,positive,probableCases,negative,hospitalizedCumulative,recovered,death,positiveCasesViral,deathConfirmed,State
0,20210307,AK,2,56886.0,NaN,NaN,1293.0,NaN,305.0,NaN,NaN,Alaska
1,20210307,AL,1,499819.0,107742.0,1931711.0,45976.0,295690.0,10148.0,392077.0,7963.0,Alabama
2,20210307,AR,5,324818.0,69092.0,2480716.0,14926.0,315517.0,5319.0,255726.0,4308.0,Arkansas
3,20210307,AS,60,0.0,NaN,2140.0,NaN,NaN,0.0,0.0,NaN,American Samoa
4,20210307,AZ,4,826454.0,56519.0,3073010.0,57907.0,NaN,16328.0,769935.0,14403.0,Arizona
...,...,...,...,...,...,...,...,...,...,...,...,...
20775,20200117,WA,53,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,Washington
20776,20200116,WA,53,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,Washington
20777,20200115,WA,53,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,Washington
20778,20200114,WA,53,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,Washington
20779,20200113,WA,53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Washington

In [3]:
covid_data20=covid_data.copy()
covid_data20.dtypes

date                        int64
state                      object
fips                        int64
positive                  float64
probableCases             float64
negative                  float64
hospitalizedCumulative    float64
recovered                 float64
death                     float64
positiveCasesViral        float64
deathConfirmed            float64
State                      object
dtype: object

In [8]:
covid_data20['date'] = pd.to_datetime(covid_data20['date'],format='%Y%m%d')
covid_data20

,date,state,fips,positive,probableCases,negative,hospitalizedCumulative,recovered,death,positiveCasesViral,deathConfirmed,State
0,2021-03-07,AK,2,56886.0,NaN,NaN,1293.0,NaN,305.0,NaN,NaN,Alaska
1,2021-03-07,AL,1,499819.0,107742.0,1931711.0,45976.0,295690.0,10148.0,392077.0,7963.0,Alabama
2,2021-03-07,AR,5,324818.0,69092.0,2480716.0,14926.0,315517.0,5319.0,255726.0,4308.0,Arkansas
3,2021-03-07,AS,60,0.0,NaN,2140.0,NaN,NaN,0.0,0.0,NaN,American Samoa
4,2021-03-07,AZ,4,826454.0,56519.0,3073010.0,57907.0,NaN,16328.0,769935.0,14403.0,Arizona
...,...,...,...,...,...,...,...,...,...,...,...,...
20775,2020-01-17,WA,53,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,Washington
20776,2020-01-16,WA,53,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,Washington
20777,2020-01-15,WA,53,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,Washington
20778,2020-01-14,WA,53,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,Washington
20779,2020-01-13,WA,53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Washington

In [9]:
# covid_data20=len(covid_data20[covid_data20['date']>20201231])
# covid_data20=covid_data20.loc[(covid_data20['date']>20201231)]