In [1]:
import pandas as pd 
import requests
import json
import numpy as np
from pprint import pprint
import datetime as dt

In [2]:
covid_df = pd.read_json("/Users/tanishacooper/code/US_Covid_Tracking/Data/covid_data.json")
covid_df.head()

,date,state,fips,positive,probableCases,negative,hospitalizedCumulative,recovered,death,positiveCasesViral,deathConfirmed,State
0,20210307,AK,2,56886.0,NaN,NaN,1293.0,NaN,305.0,NaN,NaN,Alaska
1,20210307,AL,1,499819.0,107742.0,1931711.0,45976.0,295690.0,10148.0,392077.0,7963.0,Alabama
2,20210307,AR,5,324818.0,69092.0,2480716.0,14926.0,315517.0,5319.0,255726.0,4308.0,Arkansas
3,20210307,AS,60,0.0,NaN,2140.0,NaN,NaN,0.0,0.0,NaN,American Samoa
4,20210307,AZ,4,826454.0,56519.0,3073010.0,57907.0,NaN,16328.0,769935.0,14403.0,Arizona

In [3]:
# Filtered dataframe for Dashboard

dashboard_covid_cols = ["date","State", "positive","hospitalizedCumulative","death", "recovered"]

dashboard_covid_copy = covid_df[dashboard_covid_cols].copy()
# dashboard_covid_copy

state_list = np.unique(dashboard_covid_copy['State'])
# state_list

len(np.unique(dashboard_covid_copy['State']))

56

In [4]:
dashboard_covid_copy.head()

,date,State,positive,hospitalizedCumulative,death,recovered
0,20210307,Alaska,56886.0,1293.0,305.0,NaN
1,20210307,Alabama,499819.0,45976.0,10148.0,295690.0
2,20210307,Arkansas,324818.0,14926.0,5319.0,315517.0
3,20210307,American Samoa,0.0,NaN,0.0,NaN
4,20210307,Arizona,826454.0,57907.0,16328.0,NaN

In [5]:
dashboard_covid_copy.dtypes

date                        int64
State                      object
positive                  float64
hospitalizedCumulative    float64
death                     float64
recovered                 float64
dtype: object

In [6]:
dashboard_covid_copy['date'] = pd.to_datetime(dashboard_covid_copy['date'], format='%Y%m%d')
dashboard_covid_copy
date_filtered = dashboard_covid_copy.loc[(dashboard_covid_copy['date'] == '2021-03-07')]
date_filtered

,date,State,positive,hospitalizedCumulative,death,recovered
0,2021-03-07,Alaska,56886.0,1293.0,305.0,NaN
1,2021-03-07,Alabama,499819.0,45976.0,10148.0,295690.0
2,2021-03-07,Arkansas,324818.0,14926.0,5319.0,315517.0
3,2021-03-07,American Samoa,0.0,NaN,0.0,NaN
4,2021-03-07,Arizona,826454.0,57907.0,16328.0,NaN
5,2021-03-07,California,3501394.0,NaN,54124.0,NaN
6,2021-03-07,Colorado,436602.0,23904.0,5989.0,NaN
7,2021-03-07,Connecticut,285330.0,NaN,7704.0,NaN
8,2021-03-07,District of Columbia,41419.0,NaN,1030.0,29570.0
9,2021-03-07,Delaware,88354.0,NaN,1473.0,NaN
10,2021-03-07,Florida,1909209.0,82237.0,32266.0,NaN
11,2021-03-07,Georgia,1023487.0,56797.0,17906.0,NaN
12,2021-03-07,Guam,7749.0,NaN,133.0,7590.0
13,2021-03-07,Hawaii,28699.0,2226.0,445.0,NaN
14,2021-03-07,Iowa,282384.0,NaN,5558.0,320054.0
15,2021-03-07,Idaho,172931.0,7184.0,1879.0,96017.0
16,2021-03-07,Illinois,1198335.0,NaN,23014.0,NaN
17,2021-03-07,Indiana,667262.0,43217.0,12737.0,NaN
18,2021-03-07,Kansas,295861.0,9387.0,4812.0,NaN
19,2021-03-07,Kentucky,410709.0,19457.0,4819.0,48145.0
20,2021-03-07,Louisiana,433785.0,NaN,9748.0,415954.0
21,2021-03-07,Massachusetts,591356.0,19713.0,16417.0,508745.0
22,2021-03-07,Maryland,387319.0,35651.0,7955.0,9703.0
23,2021-03-07,Maine,45794.0,1570.0,706.0,12840.0
24,2021-03-07,Michigan,656072.0,NaN,16658.0,549881.0
25,2021-03-07,Minnesota,490011.0,25978.0,6550.0,476055.0
26,2021-03-07,Missouri,480643.0,NaN,8161.0,NaN
27,2021-03-07,Northern Mariana Islands,145.0,4.0,2.0,29.0
28,2021-03-07,Mississippi,297581.0,9162.0,6808.0,278162.0
29,2021-03-07,Montana,100914.0,4630.0,1381.0,97943.0
30,2021-03-07,North Carolina,872176.0,NaN,11502.0,NaN
31,2021-03-07,North Dakota,100391.0,3880.0,1478.0,98326.0
32,2021-03-07,Nebraska,203026.0,6237.0,2113.0,157144.0
33,2021-03-07,New Hampshire,76861.0,1131.0,1184.0,73615.0
34,2021-03-07,New Jersey,812609.0,64396.0,23574.0,NaN
35,2021-03-07,New Mexico,186922.0,13252.0,3808.0,156554.0
36,2021-03-07,Nevada,296190.0,NaN,5037.0,NaN
37,2021-03-07,New York,1681169.0,NaN,39029.0,NaN
38,2021-03-07,Ohio,978471.0,50881.0,17656.0,925655.0
39,2021-03-07,Oklahoma,428997.0,24332.0,4534.0,412177.0
40,2021-03-07,Oregon,157079.0,8714.0,2296.0,NaN
41,2021-03-07,Pennsylvania,948643.0,NaN,24349.0,861756.0
42,2021-03-07,Puerto Rico,101632.0,NaN,2062.0,91987.0
43,2021-03-07,Rhode Island,128781.0,9020.0,2547.0,NaN
44,2021-03-07,South Carolina,525865.0,20725.0,8754.0,218863.0
45,2021-03-07,South Dakota,113589.0,6705.0,1900.0,109531.0
46,2021-03-07,Tennessee,782206.0,18870.0,11543.0,756793.0
47,2021-03-07,Texas,2686818.0,NaN,44451.0,2502609.0
48,2021-03-07,Utah,374850.0,14891.0,1976.0,358958.0
49,2021-03-07,Virginia,585700.0,24661.0,9596.0,NaN
50,2021-03-07,Virgin Islands,2714.0,NaN,25.0,2559.0
51,2021-03-07,Vermont,16083.0,NaN,208.0,13384.0
52,2021-03-07,Washington,344532.0,19599.0,5041.0,NaN
53,2021-03-07,Wisconsin,621654.0,26457.0,7106.0,553203.0
54,2021-03-07,West Virginia,133445.0,NaN,2325.0,125383.0
55,2021-03-07,Wyoming,54764.0,1391.0,682.0,53550.0

In [7]:
date_filtered.sum(axis=0,numeric_only=True)

positive                  28756489.0
hospitalizedCumulative      776361.0
death                       515151.0
recovered                 10933942.0
dtype: float64