In [1]:
import pandas as pd 
import requests
import json
from pprint import pprint

In [3]:
covid_df = pd.read_json("/Users/tanishacooper/code/US_Covid_Tracking/Data/covid_data.json")
covid_df.head()

,date,state,fips,positive,probableCases,negative,hospitalizedCumulative,recovered,death,positiveCasesViral,deathConfirmed,State
0,20210307,AK,2,56886.0,NaN,NaN,1293.0,NaN,305.0,NaN,NaN,Alaska
1,20210307,AL,1,499819.0,107742.0,1931711.0,45976.0,295690.0,10148.0,392077.0,7963.0,Alabama
2,20210307,AR,5,324818.0,69092.0,2480716.0,14926.0,315517.0,5319.0,255726.0,4308.0,Arkansas
3,20210307,AS,60,0.0,NaN,2140.0,NaN,NaN,0.0,0.0,NaN,American Samoa
4,20210307,AZ,4,826454.0,56519.0,3073010.0,57907.0,NaN,16328.0,769935.0,14403.0,Arizona